<mat-divider></mat-divider>
<footer>
    <div class="stats-cards" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px"
         xmlns="http://www.w3.org/1999/html">
        <div class="stats-cards" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="7px">
            Glossary
        </div>
        <div class="stats-cards" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="7px">
            Knowledge Base
        </div>
        <div class="stats-cards" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="7px">
            Terms & Conditions
        </div>
        <div class="stats-cards" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="7px">
            Privacy Policy
        </div>
        <div class="stats-cards" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="7px">
            Support
        </div>
    </div>
    <br>
    <div class="stats-cards" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px"
         xmlns="http://www.w3.org/1999/html">
        <div class="stats-cards" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="7px">
            &copy; Moving Walls 2020
        </div>

        <div class="stats-cards" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="7px">
            All rights reserved.
        </div>
    </div>
</footer>
