@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

table {
  width: 100%;
  border-spacing: 0 15px !important;
  border-collapse: separate;
  background-color: rgba(0, 0, 0, 0);
}

td.mat-cell {
  padding: 10px 0 10px 0;
  border-bottom-style: none;

}


tr td:first-child {
  border-top-left-radius: 50px;
}

tr td:last-child {
  border-top-right-radius: 10px;
}

tr td:first-child {
  border-bottom-left-radius: 10px;
}

tr td:last-child {
  border-bottom-right-radius: 10px;
}

.image-items {
  height: 45px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

mat-cell,
.mat-cell,
mat-footer-cell,
.mat-footer-cell,
mat-header-cell .mat-header-cell {
  padding: 0.1rem !important;
}

.mat-header-cell {
  border-bottom-style: none;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
