<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="card mt-4">

      <div class="card-body">

        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
          <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
        </ul>
        <app-campaign-component></app-campaign-component>

      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


<!-- <table class="table-items">
  <td><img class="image-items" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
  </td>
  <td> Focus Media</td>
  <td> 01-Aug - 31-Aug-2019</td>
  <td>
        <mat-icon class="iconStyle" style="padding-right: 0;">watch_later</mat-icon><label>published</label>
  </td>
  <td>Availabe in 2 days</td>
</table> -->
