<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h4>ANALYZE</h4>
        </div>
        <img alt="Moving Walls" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </div>


    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
        <mat-icon>album</mat-icon>
        Select Campaign</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
        <mat-icon>format_list_bulleted</mat-icon>
        Campaign Details</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
        <mat-icon>multiline_chart</mat-icon>
        Performance Summary</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
        <mat-icon>web</mat-icon>
        Sites</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
        <mat-icon>sports_handball</mat-icon>
        Audience</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
        <mat-icon>timelapse</mat-icon>
        Time</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
        <mat-icon>blur_circular</mat-icon>
        Attribution</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
        <mat-icon>record_voice_over</mat-icon>
        Ads</a>
    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLink="/" routerLinkActive="list-item-active">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>
