<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches"
    class="sidenav"
    fixedInViewport="true">
    <mat-toolbar color="primary">ANALYZE</mat-toolbar>
    <mat-nav-list>
      <a href="#" mat-list-item>Select Campaign</a>
      <a href="#" mat-list-item>Campaign Details</a>
      <a href="#" mat-list-item>Performance Summary</a>
      <a href="#" mat-list-item>Sites</a>
      <a href="#" mat-list-item>Audience</a>
      <a href="#" mat-list-item>Time</a>
      <a href="#" mat-list-item>Attribution</a>
      <a href="#" mat-list-item>Ads</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches"
        aria-label="Toggle sidenav"
        mat-icon-button
        type="button">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-icon-button type="button">
        <mat-icon aria-label="Grid">blur_on</mat-icon>
      </button>
      <button mat-icon-button type="button">
        <mat-icon aria-label="Notification">notifications_active</mat-icon>
      </button>
      <button mat-icon-button type="button">
        <mat-icon aria-label="Location">donut_large</mat-icon>
      </button>
      <button mat-icon-button type="button">
        <mat-icon (click)="logout()" aria-label="Location">person</mat-icon>
      </button>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
