<div class="col-md-6 user-container">
    <h2 class="text-center">Add User</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="addForm">
        <div class="form-group">
            <label for="username">User Name:</label>
            <input class="form-control" formControlName="username" id="username" name="username" placeholder="username"
                   type="text">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" formControlName="password" id="password" name="password" placeholder="password"
                   type="password">
        </div>

        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input class="form-control" formControlName="firstName" id="firstName" name="firstName"
                   placeholder="First Name">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input class="form-control" formControlName="lastName" id="lastName" name="lastName"
                   placeholder="Last name">
        </div>

        <div class="form-group">
            <label for="age">Age:</label>
            <input class="form-control" formControlName="age" id="age" name="age" placeholder="age" type="number">
        </div>

        <div class="form-group">
            <label for="salary">Salary:</label>
            <input class="form-control" formControlName="salary" id="salary" name="salary" placeholder="salary"
                   type="number">
        </div>

        <button class="btn btn-success">Update</button>
    </form>
</div>
