<!-- nav -->
<nav *ngIf="currentUser" class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a (click)="logout()" class="nav-item nav-link">Logout</a>
  </div>
</nav>

<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle waves-light" dropdownToggle mdbWavesEffect mdbWavesEffect type="button">
          Basic dropdown<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Action</a>
          <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Another action</a>
          <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Separated link</a>
        </div>
      </li>

    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">1
          <mdb-icon fas icon="envelope"></mdb-icon>
        </a>
      </li>
      <li class="nav-item avatar dropdown" dropdown>
        <a class="nav-link dropdown-toggle waves-light" dropdownToggle mdbWavesEffect mdbWavesEffect type="button">
          <img alt="" class="img-fluid rounded-circle z-depth-0"
               src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" href="#" mdbWavesEffect>My account</a>
          <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Log out</a>
        </div>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
  <p>
    <a href="https://jasonwatmore.com/post/2019/06/26/angular-8-basic-http-authentication-tutorial-example"
       target="_top">Angular 8 - Basic HTTP Authentication Example & Tutorial</a>
  </p>
  <p>
    <a href="https://jasonwatmore.com" target="_top">JasonWatmore.com</a>
  </p>
</div>
